body{
	font-family:Arial, Helvetica, sans-serif; 
}
h1{
	text-align: center;
	font-weight: bold;
	display: block;
}
p{
	margin: 30px 10px 10px 10px;
	font-size: 18px;
	color: #ffffff;
}
.container{
	width: 100%;
	margin: 0 auto;
}
.box {
    padding: 10px;
}
.content {
    border: 2px solid #e60073;
    background-color: #ffb3da;
    height: auto;
}

.title {
    width: 30%;
    text-align: center;
    border: 2px solid #003d66;
    float: right;
    font-size: 18px;
}
#title1 {
    background-color:#0099ff;
    color: #ffffff;
}

#title2 {
    background-color:#0099ff;
    color: #ffffff;
}

#title3 {
    background-color: #0099ff;
    color: #ffffff;
}
#box{
	background-color: #ff66b3;
	border: 1px solid #e60073;
	width: 300px;
	height:auto;
}

*{
	box-sizing: border-box;
}
div{
	display: block;
}
@media screen and (min-width: 992px) {
    .box {
        float: left;
        width: 33.333%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .box{
        float: left;
    }

    #box1, #box2 {
        width: 50%;
    }

    #box3 {
        width: 100%;
    }

    #title1, #title2 {
        width: 40%;
    }
}

@media screen and (max-width: 767px) {
    .box {
        padding: 10px 20px;
    }
}
